.aider*
.env
*.env
node_modules/
logs/
*.log
dist/
build/
postgres_data/
*.pem
*.key
*.crt
*.json
frontend/coverage/
backend/coverage/
old__biodiversity_db.sql
old_biodiversity_db_old.sql
backend/uploads/